.card-wrapper {
  width: 344px;
  height: 196px;
  border: 1px solid rgba(112, 239, 252, 0.25);
  background-color: rgba(112, 239, 252, 0.1);
  border-radius: 15px;
  padding: 3px;
  margin-right: 20px;
}
.card-wrapper .card-inner {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(112, 239, 252, 0.25);
}
.card-wrapper .card-inner h3 {
  margin-bottom: 22px;
  margin-top: 18px;
}
.card-wrapper .card-inner .label {
  display: inline-block;
  width: 86px;
}
.card-wrapper .card-inner .line-input {
  width: 86px;
  height: 24px;
  border: 0 none;
  border-radius: 20px;
  background-color: rgba(112, 239, 252, 0.22);
  outline: none;
  padding-left: 10px;
  font-size: 12px;
}
.card-wrapper .card-inner input::-webkit-outer-spin-button,
.card-wrapper .card-inner input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.card-wrapper .card-inner .range {
  text-align: left;
}
.card-wrapper .card-inner .range label {
  color: #70effc;
  text-align: right;
}
.card-wrapper .card-inner .range .range-input {
  margin-left: 8px;
  margin-right: 8px;
}
.card-wrapper .card-inner .number {
  text-align: left;
  margin-top: 12px;
}
.card-wrapper .card-inner .number label {
  color: #70effc;
  text-align: right;
}
.card-wrapper .card-inner .number-input {
  width: 206px;
  margin-left: 8px;
}
.card-wrapper .card-inner .radio-wrapper {
  margin-top: 18px;
  text-align: center;
  padding-left: 8px;
}
.card-wrapper .card-inner .radio-wrapper .font12 {
  font-size: 12px;
  color: #70effc;
  margin-right: 0;
}
.card-wrapper .card-inner .radio-wrapper .ant-radio {
  font-size: 12px;
}
.card-wrapper .card-inner .radio-wrapper .ant-radio-checked .ant-radio-inner,
.card-wrapper .card-inner .radio-wrapper .ant-radio-inner:hover,
.card-wrapper .card-inner .radio-wrapper .ant-radio-checked:after,
.card-wrapper .card-inner .radio-wrapper .ant-radio-wrapper:hover,
.card-wrapper .card-inner .radio-wrapper .ant-radio:hover {
  border-color: #de0c46;
}
.card-wrapper .card-inner .radio-wrapper .ant-radio-wrapper:hover .ant-radio .ant-radio-inner {
  border-color: #de0c46;
}
.card-wrapper .card-inner .radio-wrapper .ant-radio-inner:after {
  background-color: #de0c46;
}
